/notes.txt
/ContractCode/build/contracts/Campaign.json
/ContractCode/build/contracts/ConfirmAddress.json
/ContractCode/build/contracts/Migration.json
/ContractCode/build/contracts/Migrations.json
/ContractCode/build/contracts/Ownable.json
/ContractCode/build/contracts/StorageSlot.json
/ContractCode/node_modules
/Dapp/node_modules
/ContractCode/build
/ContractCode/contracts/artifacts
/Z SALes Pitch Celo.pptx
/package-lock.json
/Capture2.JPG
/Capture.JPG
/zsale.png
/ContractsV2/artifacts
/ContractsV2/cache
/ContractsV2/typechain
/ZSale Celo Grant.txt
/Z SALes Pitch Meter.pptx
/zsale 2.png
/Other stuffs
/*.pptx
/*.zip
/B Olayinka Tanimomo Digital Id .pfx
/Meter Ethereum Hackathon - ZSale _ 3rd Place DeFi Winner Team Member Affidavit.pdf
/Meter Ethereum Hackathon - ZSale _ 3rd Place DeFi Winner Team Rep Affidavit.pdf
/Meter_fw8ben_3.pdf
/Meter_fw8ben_Signed.pdf
/MeterLaunch client-main.zip
/dapptest
/ZSale_DappV2.rar
/Todo.txt
/ContractsV2/contracts/Test.sol
/ContractsV3/test/index copy.ts
/temp.txt
/*.pdf
/Dapp/src/environments/environment.prod.ts
/Contracts/contracts/Pads/FairLaunchFactory.sol
/Contracts/contracts/Pads/Fairlaunch.sol
/Contracts/contracts/Pads/PresaleFactoryNew.sol
/Contracts/contracts/Pads/PresaleNew.sol
/Contracts/contracts/Pads/ThirdPart.sol
